:root {
  --main-font: "roboto", sans-serif;
  --accent-font: "raleway" sans-serif;

  --color-accent: #2196f3;
  --main-font-color: #212121;
  --main-grey-color: #757575;
  --main-white-color: #ffffff;
  --main-hero-color: #c4c4c4;
  --bcg-icons-index: #f5f4fa;
  --bcg-text-list: rgba(47, 48, 58, 0.8);
  --bcg-section-team: #f5f4fa;
  --fill-social-list: rgba(175, 177, 184, 1);
  --main-nav-color: rgba(117, 117, 117, 1);
  --bcg-footer: #2f303a;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
img {
  display: block;
}
/*logo header+footer*/
.logo-web,
.logo-studio {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  font-family: var(--accent-font);
  font-style: normal;
}
.logo-web {
  color: var(--color-accent);
}
.logo-footer {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
/*end logo header+footer*/
/*header*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.address .link {
  display: flex;
  align-items: center;
}
.sprite {
  margin-right: 10px;
}
.header-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.name {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.list-item:not(:last-child) {
  margin-right: 50px;
}
.social-link:not(:last-child) {
  margin-right: 50px;
}
.item {
  fill: var(--main-nav-color);
}
.current {
  color: var(--color-accent);
}
.item:hover,
.item:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}
.item {
  position: relative;
  display: block;
  padding-top: 33px;
  padding-bottom: 31px;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
}
.header-info {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
}
/*end-header*/
/* hero */

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: 1;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px 40px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  background: var(--main-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.form {
  display: flex;
  flex-direction: column;
}
.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.field .icon {
  position: absolute;
  display: inline-block;
  bottom: 11px;
  left: 12px;
  fill: var(--main-font-color);
}
.field + .field {
  margin-top: 10px;
}
.field {
  position: relative;
  display: flex;
  flex-direction: column;
}
.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--main-grey-color);
}
.input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: text;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus {
  outline: none;
  border-color: var(--color-accent);
}
.input:focus + .icon {
  fill: var(--color-accent);
  color: var(--color-accent);
}
.comment {
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}
.comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  background: var(--main-white-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox:hover {
  cursor: pointer;
}
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.check-input:checked + .check-text::before {
  background-color: var(--color-accent);
  border: 0;
  background-image: url(../images/img/iconCheck.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}

.checkbox a {
  text-decoration: underline;
  color: var(--color-accent);
}
.check-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}
.check-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--color-accent);
  border-radius: 2px;
}

.button-close:hover {
  fill: var(--color-accent);
}
.btn-form {
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-white-color);

  background: var(--color-accent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer;
}
/*end modal*/

.hero .container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img/bg.jpg);
  background-color: var(--main-hero-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.description {
  width: 700px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.hero-button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-white-color);
}

/* end hero */
/*h2*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  display: flex;
}
.section {
  padding-top: 94px;
}
.advantages .subject {
  width: 270px;
}
.subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
}
.subject:not(:last-child) {
  margin-right: 30px;
}
.subject-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bcg-icons-index);
  border-radius: 4px;
  width: 270px;
  height: 120px;
}
.userpic {
  width: 70px;
  height: 70px;
}
.section h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-color);
}
.section p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}
/* end h2 */

/* what we are doing */
.picture-list {
  position: relative;
  z-index: 1;
}
.text-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: var(--bcg-text-list);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--main-white-color);
}
.section-image .container {
  display: flex;
  flex-direction: column;
}
.picture-item {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.section-image {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-image h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

/* end what we are doing */

/* our team */
.section-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.workers {
  display: flex;
  margin-top: 50px;
}
.workers-photo {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--main-white-color);
}
.workers-photo:not(:last-child) {
  margin-right: 30px;
}
.workers-team {
  padding-top: 30px;
}
.social-list {
  margin-top: 16px;
}
.social-list:not(:last-child) {
  margin-right: 10px;
}
.workers-name {
  margin-bottom: 10px;
}
.workers-social {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
.list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--fill-social-list);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-links:hover,
.list-links:focus {
  background: var(--color-accent);
}
.list-links:hover {
  fill: var(--main-white-color);
}
.section-team {
  background: var(--bcg-section-team);
}
.section-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}
.section-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}
/* end our team */
/* clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.companies {
  display: flex;
}
.border-pic {
  color: inherit;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  fill: rgba(175, 177, 184, 1);

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list:hover,
.clients-list:focus {
  fill: var(--color-accent);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
.border:not(:last-child) {
  margin-right: 30px;
}
.text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 50px;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-footer);
}
.footer-name {
  display: block;
}
.bottom {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-top: 20px;
}
.footer-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
}
.foot-info + .foot-info {
  margin-top: 9px;
}
.footer-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.join {
  margin-left: 70px;
}
.join-list {
  display: flex;
  margin-top: 20px;
}
.join-link + .join-link {
  margin-left: 10px;
}
.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.join-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: rgba(255, 255, 255, 1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join-item:hover,
.join-item:focus {
  background: var(--color-accent);
}
.social-items {
  width: 20px;
  height: 20px;
}
.join-link {
  color: var(--color-accent);
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-white-color);
}
.subscription {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.subscription-input {
  display: block;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding: 10px 29px;

  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: var(--main-white-color);
  border: none;
  cursor: pointer;
}
.subscribe {
  margin-left: auto;
}
.submit-text {
  margin-right: 10px;
}
/* end footer */

/* portfolio */
/* h1 our works */
.portfolio {
  border: 1px solid #ececec;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.nav-btn:not(:last-child) {
  margin-right: 8px;
}
.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}
.port-image {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.port-cards:hover,
.port-cards:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.port-image a {
  display: block;
}
.port-image:nth-child(3n) {
  margin-right: 0px;
}
.port-image:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.button-portfolio {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  background: var(--bcg-section-team);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: var(--color-accent);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--main-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.port-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.card {
  margin-bottom: 4px;
}
.port-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}
.port-cards:hover .overlay,
.port-cards:focus .overlay {
  transform: translateY(0);
}
.port-cards {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
}
.section-portfolio .p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--main-grey-color);
}
.thumb {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--main-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  transition-property: transform;
}
