.header .container {
  display: flex;
  justify-content: space-between;
}
.address .link {
  display: flex;
  align-items: center;
}
.sprite {
  margin-right: 10px;
}
.header-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.name {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}
.header-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}
.list-item:not(:last-child) {
  margin-right: 50px;
}
.social-link:not(:last-child) {
  margin-right: 50px;
}
.item {
  fill: var(--main-nav-color);
}
.current {
  color: var(--color-accent);
}
.item:hover,
.item:focus {
  color: var(--color-accent);
  fill: var(--color-accent);
}
.item {
  position: relative;
  display: block;
  padding-top: 33px;
  padding-bottom: 31px;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-accent);
  border-radius: 2px;
}
.header-info {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
}
